.businessCard:hover {
  border-radius: 15px;
  -webkit-box-shadow: -13px 10px 35px -11px rgba(14,237,192,1);
-moz-box-shadow: -13px 10px 35px -11px rgba(14,237,192,1);
box-shadow: -13px 10px 35px -11px rgba(14,237,192,1)
}

.view-more{
          cursor: pointer;
          padding-top: 5px;
          border: 1px solid rgba(14,237,192,1) !important;
          background-color: white;
}
.view-more:hover{
          background-color: rgba(14,237,192,1);
          color: white!important;

}