body{
    font-family:  "Inter", sans-serif;

}section{
    font-family:  "Inter", sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}
.custom-placeholder::placeholder {
    
    color: #2288e26f  !important; 
    opacity: 0.5;
}.text-theme{
    color: #E5F0FD !important;
}.cat-img{
    padding: 15px 12px !important;
    border: #E5F0FD solid 1.5px !important;
    text-align: center !important;
    border-radius: 8px;
}.cat-img img {
    width: 45px;
    height: 60px;
}.cat-div{
    width: 11.11% !important;
    cursor: pointer;
    color: #111111;
}.b-theme{
    border: 1.5px solid #E5F0FD !important;
}.br-theme{
    border-radius: 8px;
}.location-card img{
    height: 150px;
    object-fit: cover;
}.location-card{
    border-radius: 16px;
}.fs-12{
    font-size: 12px !important;
}.fs-13{
    font-size: 13px !important;
}.fs-14{
    font-size: 14px !important;
}.fs-15{
    font-size: 15px !important;
}.fs-16{
    font-size: 16px !important;
}.fs-18{
    font-size: 18px !important;
}
.fs-20{
    font-size: 20px !important;
}.fs-30{
    font-size: 30px !important;
}.fs-45{
    font-size: 45px !important;
}.testi-div{
    border-radius: 16px !important;
   
}.testi-div img{
    border-radius: 50% !important;
    width: 50px;
    height: 45px;
    object-fit: cover;
}.testi-theme{
    background-color: #E5F0FD;
    transition: .3s ease-in-out;
    transform: scale(1.05); 
}.testi-theme {
    background-color: #E5F0FD; 
    color: rgb(0, 0, 0);
}
.slick-slide {
    transition: opacity 0.3s ease;
}

.slick-center .slick-slide {
    opacity: 1;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #E5F0FD;
    z-index: 1;
}

.slick-dots li.slick-active button:before {
    color: #E5F0FD; 
}.h-100vh{
    height: 100vh !important;
}.h-90vh{
    height: 90vh !important;
}.footer-section{
    background-color: #111111;
}.btn-theme{
    background-color: #228ae2 !important;
    border-radius: 50px !important;
}footer{
    font-family:  "Inter", sans-serif;
}
footer .btn-theme{
    font-size: 23px !important;
    color: white;
}footer .usefull-links a{
    text-decoration: none;
}.text-decoration-none{
    text-decoration: none !important;
}.add-logo-div{
    border: 1px dashed black;
    border-radius: 16px;
    width: 120px;
    cursor: pointer;
}.react-tel-input .form-control {
    position: relative !important;
    font-size: 14px !important;
    letter-spacing: .01rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px !important;
    margin-left: 0 !important;
    background: #FFFFFF !important;
    border: 1px solid #dce0e4 !important;
    border-radius: 5px !important;
    line-height: 25px !important;
    height: 38px !important;
    width: 100% !important;
    outline: none !important;
}
.react-tel-input .flag-dropdown {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
    border: 1px solid #d5d9dd !important;
    border-right: none !important;
    border-radius: 5px 0 0 5px !important;
}.form-text{
    color: #238ae3;
}.bl-none{
    border-left: none;
}.br-none{
    border-right: none;
}.btn-theme2{
    background-color: #238ae3;
    color: white;
}.btn-theme2:hover{
    background-color: #1869b2;
    color: white;
}input:focus{
    outline: none !important;
}.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 8px;
    pointer-events: none;
    border-radius: 0px 8px 8px 0px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgb(222 226 230);
}.css-1d3z3hw-MuiOutlinedInput-notchedOutline:focus{
    outline: rgb(222 226 230) !important;
}.css-1wgn40h-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgb(222 226 230);
}.css-1wgn40h-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border: rgb(222 226 230);
}.brl-none{
    border-radius: 0px 5px 5px 0px !important;
}.bll-none{
    border-radius: 5px 0px 0px 5px !important;
}.br-0{
    border-radius: 0px !important;
}.day-div{
    border: 1px dashed black;
    border-radius: 50%;
    width: fit-content;
    padding: 15px 15px;
    cursor: pointer;
}
.services-list{
    background-color: #238ae3;
    color: white;
    width: fit-content;
    border-radius: 16px;
    padding: 8px 15px;
}.text-theme2{
    color: #238ae3;
}.day-div.active{
    background-color: #238ae3;
    color: white;
    border: none;
}.right-portion{
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}.right-portion::-webkit-scrollbar{
    display: none;
}.left-portion img{
    object-fit: cover;
}.react-tel-input .form-control {
    height: 48px !important;
}.b-theme2{
    border: 1px solid #228ae2;

}
.br-20{
    border-radius: 20px !important;
}.subscription-tick{
    padding: 3px;
    border-radius: 50%;
    color: rgb(219, 219, 219);
    cursor: pointer;
}.subscription-tick.active{
    color: white !important;
    background-color: #228ae2 !important;
}.business-view-banner{
    height: 600px !important;
}.business-view-banner img{
    object-fit: cover;
}.business-view-banner .image-title{
    position: absolute;
    color: white;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}.business-view-banner .image-title h2{
    font-weight: bold;
    font-size: 50px;
}.business-feature span{
    border: 1px solid #228ae2;
    border-radius: 5px;
    padding: 2px;
}.business-view-div-main .location-card img{
    height: 270px;
    object-fit: cover;  
}.test-div-bottom img{
    width: 90px;
}.newsletter-content{
    position: relative;
}.input-div{
    border-radius: 10px;
}footer .contact-banner{
    background-color: #111111;
    padding: 15px 20px;
}.padding{
    padding-block: 50px;
}
@media screen and (max-width: 768px) {
    .jcc-md{
        justify-content: center;
    }
    .fs-45{
        font-size: 30px !important;
    }.cat-div {
        width: 50% !important;
    }footer .btn-theme{
        font-size: 18px !important;
        color: white;
    }.jsc-md{
        justify-content: center;
    }.aic-md{
        align-items: center;
    }.p-sm-0{
        padding: 0 !important;
    }
    
}
.home-spot{
    margin-top: 20px;
}